version: "3.9"

services:
  # =======================
  # PostgreSQL p/ Scheduling
  # =======================
  scheduling-db:
    image: postgres:15
    container_name: scheduling-db
    environment:
      POSTGRES_DB: scheduling_db
      POSTGRES_USER: scheduling
      POSTGRES_PASSWORD: scheduling
    ports:
      - "5434:5432"           # se quiseres aceder a partir do host (pgAdmin, etc.)
    volumes:
      - scheduling-data:/var/lib/postgresql/data

  # =======================
  # Scheduling Service - instância 1
  # =======================
  scheduling-service-1:
    image: scheduling-service:latest
    container_name: scheduling-service-1
    environment:
      SPRING_PROFILES_ACTIVE: postgres
    depends_on:
      - scheduling-db
    ports:
      - "8084:8084"           # host:container
    # se precisares de falar com patient/physician em docker,
    # depois ajustamos estas URLs no application-postgres.properties

  # =======================
  # Scheduling Service - instância 2
  # =======================
  scheduling-service-2:
    image: scheduling-service:latest
    container_name: scheduling-service-2
    environment:
      SPRING_PROFILES_ACTIVE: postgres
    depends_on:
      - scheduling-db
    ports:
      - "8087:8084"           # mesma app por dentro (8084), porta diferente por fora

volumes:
  scheduling-data:
